
:root {
    --padding-100: 6px;
    --padding-200: 12px;
    --padding-300: 18px;
    --padding-400: 24px;

    --btm-blue-100: #0d3c8c;

}

html {
  scroll-behavior: smooth;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: #f6faf6;
    padding:0;
    margin: 0 8%;
    height:100vh;
    user-select: none;
}

/* Grid layout */
.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 56% 43.45%;
  color: #444;
}


h1{
  font-family: 'aw-conqueror-didot', serif;
  font-size:2.4rem;
  padding: 10px;
  margin: 0;
}
ul.links{
  padding: 0 0 0 0;
}
ul.links li{
  font-size: 14px;
  padding: 0 0 6px 0;
}

.box {
  background-color: #f6faf6;
  padding: 0;
  margin: 0;
}

.a {
  grid-column: 1 / 2;
  grid-row: 1;
}
.b {
  grid-column: 2 ;
  grid-row: 1 / 2;
}

.letter-wrapper{
  display:flex;
}
  
.letter-section{
  display:flex;
  flex-wrap: wrap;
}

.letter{
  padding:10px;
  margin:0;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 150mS;
}
.letter:hover{
  cursor: pointer;
  transform: scale(1.04);
}

.adjust-for-z .letter{
  padding:8.5px 10px;
}


#overlay,
#overlay-about,
#overlay-author{
  position:absolute;
  background-color:#fff;
  border:solid 4px #444;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:60%;
  min-height:40%;
  padding:.2rem;  
  z-index:50;
  visibility:0;
}

.overlay-inner{
  display:flex;
  position: relative;
  padding:1rem 2rem 1rem 1rem;
}

.overlay-left{
  width:20%;
  padding: 0 0 0 0;
}

.overlay-right{
  padding: 0 0 0 2rem;
  width:100%;
}

.close{
  position: absolute;
  right: .5rem;
  top: .2rem;
  text-align: right;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  cursor:pointer;
}

#overlay h1{
  font-size:2.4rem;
  margin: 0 0 1rem 0;
  padding:0;
}

p{
  font-size: 16px;
  line-height: 1.4rem;
  margin: 0 0 1rem 0;
}

h1 span{
  border-bottom:solid 3px #000;
}

.img-overlay{
  width:250px;
}

.tint{
  visibility:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #00000080;
  z-index:50;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility 1s ease-in-out;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity .2s ease-in-out, visibility 1s ease-in-out;
}


.words{
  display:flex;
}
.words .letter{
  padding:4px;
}

.words .letter img{
    height: 100px;
    border: solid 1px red;
}

.letter-25{width:25%;}
.letter-33{width:33%;}
.letter-50{width:50%;}
.letter-40{width:40%;}
.letter-30{width:30%;}
.letter-37-5{width:37.5%;}
